<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SimpleInjectorCore</title>
</head>
<body>
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; 2016 - SimpleInjectorCore</p>
    </footer>
</body>
</html>
